<div>
    <div>
        <div class="inserir">
            <label class="text">Conect-se</label>
        </div>
        <div class="comment">
            <textarea class="textInput" placeholder="Insira sua historia aqui..." cols="30" rows="10"></textarea>
        </div>
        <input type="button" value="Enviar">    
    </div>
    <div>
        <label class="text">Descubra Histórias:</label>
        <ul class="history">
            <label>Foto</label>
            <div class="perfil">
                <ul><label>Name</label></ul>
            </div>
            <textarea class="textHistory" cols="30" rows="10" placeholder="Minha historia começa com o final dela..." readonly></textarea>
        </ul>
    </div>
</div>