<div>
    <nav class="menu">
        <ul class="menuList">
            <img class="logo" src="../images/BaseTechLogo.png" alt="">
            <li class="menuListitem">
                <a class="menuLink" href="#">Home</a>
            </li>
            <li class="menuListitem">
                <a class="menuLink" href="#">Teste</a>
            </li>
            <li class="menuListitem">
                <a class="menuLink" href="#">Forum</a>
            </li>
            <li class="menuListitem">
                <a class="menuLink" href="#">Dashboard</a>
            </li>
            <li class="menuListitem">
                <input type="text">
                <input type="image" class="pesquisa" src="../images/pesquisa.png" alt="Submit" width="25" height="25">
                <input type='image' class="pesquisa" src='../images/sair.jpg' alt='Submit' width='25' height='25'>
            </li>
        </ul>
    </nav>
</div>