<div>
    <nav id="menu">
        <ul>        
            <img id = logo src ="../Images/BaseTechLogo.png">
            <li><a href="#">Home</a></li>
            <li><a href="#">Teste</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Dashboard</a></li>
            <li>
                <input type ="text">
                <input id = pesquisa type="image" src="../Images/BaseTechLogo.png" alt="Submit" width="25" height="25">
                <input id = pesquisa type="image" src="../Images/sair.jpg" alt="Submit" width="25" height="25">
            </li>
        </ul>
    </nav>
</div>
