<div class="container">
  <img class="image" src="../../../../assets/images/escritorio.jpg" alt="" />
  <div class="text-container">
    <h1 class="title">Quem somos e onde vamos?</h1>
    <p class="text">
      Já pensou sobre a possibilidade de poder ajudar alguém com seus
      conhecimentos ? E se essa ajuda tivesse o poder de mudar a realidade de
      outro ser humano ? Estes somos nós, estudantes de Engenharia da computação
      que almejam oferecer a possibilidade de compartilhamento de conhecimento
      através de uma única plataforma.
    </p>
    <p class="text">
      Nosso objetivo é oferecer um local capaz de oferecer uma chance a pessoas
      que querem aprender e ao mesmo ensinar. Um local capaz de fornecer
      reconhecimento aos seus participantes, e deixar que eles contem a sua
      própria história usando a nossa tecnologia.
    </p>
    <p class="text">
      Seja aquele que pode fornecer o simples, e atingir o impossível!
    </p>
  </div>
</div>
