.title {
  font-family: "Ubuntu", "Roboto", sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -1.12px;
  text-align: left;
  color: #7c7c80;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  color: #949494;
  line-height: 1.45;
  text-align: left;
  padding-bottom: 30px;
}

.text-container{
  width: 50%;
  padding: 0 50px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1550px;
  justify-content: flex-end;
  margin: 0 auto;
}

.image {
  border-radius: 15px;
  width: 500px;
}
