.text-container{
    width: 600px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.button{
    width: 100px;
}

.historyCard{
    width: 500px;
    margin: 20px;
}
